/* General Styles */
body, html {
    font-family: 'Roboto', sans-serif;
    background-color: floralwhite; 
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* שני עמודות בגודל זהה */
    gap: 20px; /* מרווח בין העמודות */
    justify-content: center; /* Align items horizontally in the center */
    align-items: center; /* Align items vertically in the center */
}

.text-content {
    padding: 20px;
    border-radius: 10px;
    font-size: 40px; /* גודל גופן גדול */
    color: #000000; /* צבע גופן כהה לקריאות טובה יותר */
    text-align: center; /* מרכוז הטקסט */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* צל קל ליצירת עומק */
    margin: 0 auto; /* מרכוז האלמנט בציר האופקי */
    max-width: 800px; /* הגבלת הרוחב המרבי */
}

.text-content h2 {
    font-size: 48px; 
    margin-bottom: 20px;
}

.text-content p {
    font-size: 20px; /* גודל גופן עבור פיסקאות */
    line-height: 1.6; /* גובה שורה לקריאות טובה יותר */
}

.image-slider {
    position: relative;
}

.hero-image {
    width: 100%;
    margin:20px ;
    height: 400px; /* גובה לדוגמה */
    background-size: cover;
    background-position: center;
    animation: slideShow 24s infinite; /* השתמש באנימציה שהגדרת */
}

.slider-text h1 {
    position: absolute;
    bottom: 10px; /* מיקום הכיתוב מתחת לתמונות */
    left: 8px;
    width: 100%;
    text-align: center;
    color: white;
}

@keyframes slideShow {
    0% { background-image: url('images/view-1.png'); }
    33% { background-image: url('images/view-2.png'); }
    66% { background-image: url('images/view-3.png'); }
    100% { background-image: url('images/view-1.png'); }
}

/* Media Queries */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .text-content h2 {
        font-size: 20px;
    }
    .text-content p {
        font-size: 10px;
    }
    .text-content h1
    {
        font-size: 15px;
    }

}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .text-content h2 {
        font-size: 15px;
    }
    .text-content p {
        font-size: 10px;
    }
    .text-content h1
    {
        font-size: 12px;
    }


}

/* Additional styles as needed */
