/* Global Reset */
/* Resets default padding, margin, and sets box-sizing for all elements. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Icon Styling */
/* Styles for icons including size and background. */
.icon {
    font-size: 0.9em;
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
}

/* Photo Styling */
/* Styles for photos including brightness filter, width, and height. */
.photo {
    filter: brightness(70%);
    width: 100%;
    height: 500px;
    align-self: center;
}

/* Body and HTML Styling */
/* Sets padding, margin, height, background color, and font for the body and html. */
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: floralwhite;
    font-family: 'Karla', sans-serif;
}

/* Flex Container Styling */
/* Sets display mode to flex for container elements. */
.flex_container {
    display: flex;
}

/* Side and Content Area Styling */
/* Styles for left, right, and main content areas including width, margin, and font size. */
.left_side, .content, .right_side {
    margin-left: 5px;
    font-size: large;
    border-right: 1px solid #d0cccc;
}

.left_side {
    width: 20%;
}

.content {
    width: 60%;
}

.right_side {
    width: 20%;
    margin-left: 10px;
    margin-top: 30px;
    justify-self: center;
}

/* Place and Heading Styling */
/* Styles for the 'place' class and headings including borders, positions, and text alignment. */
.place {
    border-left: 1px solid #938c8c;
    position: relative;
    min-height: 300px;
}

h1, h2 {
    font-weight: lighter;
    display: block;
    position: relative;
    text-align: left;
}

h1 {
    margin-top: 30px;
    font-size: 60px;
}

h2 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d0cccc;
}

/* Paragraph Styling */
/* Styles for paragraphs including font size and display type. */
p {
    display: block;
    font-size: large;
}

/* Location and Video Styling */
/* Styles for locations, video, and images including width, height, and filters. */
.locations {
    display: flex;
    justify-content: space-around;
}

.location {
    width: 300px;
    height: 320px;
    margin: 10px;
    position: relative;
    margin: 15px;
    filter: brightness(85%);
}

.video {
    width: 60%;
    float: right;
    margin: 3px;
}

/* Responsive Design for Portrait Orientation */
/* Adjusts layout for devices in portrait orientation. */
@media (orientation:portrait) {
    .left_side, .right_side, iframe {
        display: none;
    }

    .content {
        width: 90%;
        margin-left: 5%;
        border-right: none;
    }

    .locations {
        flex-wrap: wrap;
    }

    video {
        width: 100%;
    }
}

/* Additional Styles for Locations and Slider */
/* Styles for image and info sections in locations and styling for the slider. */
.image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2%;
    object-fit: cover;
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(141, 133, 133, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 2%;
}

.location:hover .info {
    height: 100%;
}

li {
    margin-left: 5%;
}

h3 {
    color: whitesmoke;
    text-align: center;
}

.info_style {
    color: whitesmoke;
    text-align: center;
    font-size: medium;
}

.slider-wrapper {
    position: relative;
    max-width: 70rem;
    margin: 10px 0;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hlsa(0,0%,0%,0.25);
}

div::-webkit-scrollbar {
    display: none;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 0.7rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 2.5rem;
    height: 0.5rem;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

iframe {
    position: static;
    width: 300px;
    height: 205px;
}
