html {
    direction: rtl;
  }

/* הגדרת סגנון כללי לתפריט הניווט */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* צבע רקע לתפריט */
}

/* הגדרת סגנון לפריטים בתפריט */
nav li {
    float: right;
}

/* הגדרת סגנון לקישורים */
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* שינוי סגנון הקישור בעת העברת העכבר מעליו */
nav a:hover {
    background-color: #ddd;
    color: black;
}
h2{
    font-style: italic;
    color: blue;
}

/* סגנון נוסף לתפריט ולקישורים יכול להיות מוסף כאן */
